.login-background{
    min-height: 100vh;
    background-image: url("../../../../../public/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .logo {
        background-image: url("../../../../../public/images/logo.png");
        background-size:100%;
        background-repeat: no-repeat;
        width: 100%;
        padding-top: 30%;
        margin-bottom: 20px;
    }
}

.login-form{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    .form-control{
        padding-left: 1.6rem;
    }

    p{
        color: #FFF;
    }
}

.content{
    height: 100vh;
    margin:0;
    h2{
        font-weight: bold;
    }
}

.language-dropdown{
    .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dropdown-item:hover{
        background-color: rgba($color: #FFF, $alpha: 0.2);
    }
}

/*
.language-dropdown{
    img{margin-right: 4px;margin-bottom: 4px;}
    .dropdown-menu{
        --bs-dropdown-min-width: none;
    }
    .dropdown-item{
        cursor: pointer;

        
    }
}

.language-button{
    span{
        color: #FFF;
    }
}

.language-button:focus{
    box-shadow: none!important;
}
*/